*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
        font-family: sans-serif;
        background: #ff77aa;
        text-align: center;
        overflow: hidden;
        background-image: url(images/jueves-de-racismo.gif);
    }
    
    .floating {
        position: absolute;
        /*background: yellow;*/
        padding: 10px;
        /*border: 2px solid black;*/
        user-select: none;
        cursor: pointer;
    }

    #cat-dancing{
        float: right;
    }

    #cat-dancing2{
        float: left;
    }


    .text{
        color: white;
        font-family: sans-serif;
        animation: cambiartexto 0.2s infinite alternate;
    }

    #clear{
        animation: cambiartexto2 0.3s infinite alternate;
    }

    #bigButton {
        margin-top: 40px;
        padding: 20px 40px;
        background: red;
        color: white;
        font-size: 24px;
        border: none;
        cursor: pointer;
    }

    #bigButton {
    animation: cambiarColores 0.16s infinite alternate;
    }

    @keyframes cambiarColores {
        100% { background-color: orange; }
        50% { background-color: yellow; }
        100% { background-color: pink; }
        100% { background-color: rgb(203, 247, 137); }  
        
    }
    
    @keyframes cambiartexto {
        100% { color: yellow; }
        100% { color: pink; }
        100% { color: red; }
        100% { color: rgb(96, 234, 241); }  
        
    }

    @keyframes cambiartexto2 {
        50% { color: black; }
        50% { color: white; } 
        50% { color: black; }
        50% { color: white; } 
    }

    #happyButton{
        margin-top: 40px;
        padding: 20px 40px;
        background: red;
        color: white;
        font-size: 24px;
        border: none;
        cursor: pointer;
    }

    #happyButton {
    animation: cambiarColores 0.15s infinite alternate;
    }

    #catButton{
        margin-top: 40px;
        padding: 20px 40px;
        background: red;
        color: white;
        font-size: 24px;
        border: none;
        cursor: pointer;
    }

    #catButton {
    animation: cambiarColores 0.14s infinite alternate;
    }

    #jiggle{
        margin-top: 40px;
        padding: 20px 40px;
        background: red;
        color: white;
        font-size: 24px;
        border: none;
        cursor: pointer;
    }

    #jiggle {
    animation: cambiarColores 0.13s infinite alternate;
    }

    #button-div{
        color: white;
        font-size: 28px;
        margin-top: 35px;
        background-image: url();
    }
    #redButton-img{
        height: 150px;
        width: 150px;
    }

    
